h1{
    color:orangered; 
}

img{
    width: 350px;
}

#spanID {
    font-size: 18px;
    margin: 50px;
}

#thirdDiv{
    background-color: orange;
    height: 500px;
    width: 600px;
    padding: 50px;
    border: 10px solid black;
}